%div#top
  %span Score:
  %span#score= @score
  %a{:href => '/'} Reroll
.game
  %table
    -@roll.each do |row|
      %tr
        -row.each do |cell|
          %td= cell

  %form{:action => "#"}
    %input{:type => 'text', :id => 'guess', :maxlength => 10}
    %input{:type => 'hidden', :id => 'game', :value => params[:id]}
    %input{:type => 'submit', :value => 'Guess!'}
    %ul.guesses
