%div#top
  %span Score:
  %span#score= @score
  %span Time:
  %span#time 5:00
  %a{:href => '/'} Reroll
.game
  %table
    -@roll.each do |row|
      %tr
        -row.each do |cell|
          %td= cell

  %form{:action => "#"}
    %input{:type => 'text', :id => 'guess', :maxlength => 10}
    %input{:type => 'hidden', :id => 'game', :value => params[:id]}
    %input{:type => 'submit', :value => 'Guess!'}
    %ul.guesses.success-list
      -@log[:success].each do |word|
        %li.success{:style => 'display:block'}= word
    %ul.guesses.error-list
      -@log[:error].each do |word|
        %li.error{:style => 'display:block'}= word
