%html
  %head
    %title bee's knees
    %link{:rel => 'stylesheet', :href => 'beesknees.css'}
    %script{:src => 'prototype.js'}
    %script{:src => 'jquery.js'}
    %script{:src => 'beesknees.js'}
  %body
    %h1 bee's knees
    =yield
