%html
  %head
    %title Doggles.
    %link{:rel => 'stylesheet', :href => 'doggles.css'}
    %script{:src => 'prototype.js'}
    %script{:src => 'jquery.js'}
    %script{:src => 'doggles.js'}
  %body
    %h1 Doggles.
    =yield
